{% extends "person/base.html" %}

{% block content %}
<div class="container">
	<div class="row text-center">
		<div class="col">
			<div class="mt-5 mb-5 card mx-auto" style="width: 25rem; height:11.2rem;">
				<div class="card-body">
				<h5 class="card-title">Missing Report</h5>
				<p class="card-text">Click here to add details of a missing person</p>
				<a href="{% url 'person:missing' %}" class="btn btn-primary">Report</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="mt-5 mb-5 card mx-auto" style="width: 25rem;">
				<div class="card-body">
				<h5 class="card-title">Found and Search</h5>
				<p class="card-text">Click here to enter and search relevent details of a missing person</p>
				<a href="http://localhost:3000/" class="btn btn-primary">Search</a>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<h3 class="text-center">Missing Persons</h3>
	<div class="row">
		{% for person in persons %}
			<div class="col-sm">
				<div class="mb-3 mt-3 card" style="width: 20rem;">
					{% if person.image %}
						<img class="card-img-top" src="{{person.image.url}}" alt="Card image cap" width="286px", height="325px">
					{% else %}
					<img class="card-img-top" src="/media/person/default.png" alt="Card image cap">
					{% endif %}
					<div class="card-body">
					<h5 class="card-title">{{person.name}}</h5>
					<p class="card-text">
						<ul type="bullet">
							<li>Gender: {{person.gender}}</li>
							<li>Height: {{person.height}}</li>
							<li>Age: {{person.age}}</li>
							<li>Reported by: {{person.reported_by.name}}({{person.reported_by.phone}})</li>
						</ul>
					</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	
</div>
{% endblock %}