{% extends "person/base.html" %}

{% block content %}



<div class="container">
	<form method="POST", action="{% url 'person:missing' %}" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
			<div class="row">
				<div class="col-sm">
					<div class="mt-5 card mx-auto" style="width: 36rem;">
						<h5 class="card-header">Your Information</h5>
						<div class="card-body">
							<p class="card-text">
								{{reported_by_form.as_p}}
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="mt-5 card mx-auto" style="width: 36rem;">
						<h5 class="card-header">Missing Person Information</h5>
						<div class="card-body">
							<p class="card-text">
								{{missing_person_form.as_p}}
							</p>
							<a href="#"><button type="submit" class="btn btn-primary">Submit</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

</div>
<!-- 

<h3>Missing Person Information</h3>
            {{missing_person_form.as_p}} -->
{% endblock %}

